@import "foundation_and_overrides";
@import url(http://fonts.googleapis.com/css?family=Rammetto+One);

nav.top-bar {
text-align:center;
}

section.top-bar-section {
display: inline-block;
}

.name a{
  text-decoration: none;
  font-family: 'Rammetto One', cursive;
  font-size: 1.7em;
}
